<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Game</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1000" height="900" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
    <scene>
      <mapname name="Map1.tmx"></mapname>
      <mapname name="Map2.tmx"></mapname>
    </scene>  
  
  <audio>
    <music>
      <folder>audio/music/</folder>
    </music>
    <fx>
      <folder>audio/fx/</folder>
    </fx>
  </audio>
  
  
  <player>
    <sprites>textures/Alien.png</sprites>
    <positionXmap1 x="600"></positionXmap1>
    <positionYmap1 y="245"></positionYmap1>
    <positionXmap2 x="145"></positionXmap2>
    <positionYmap2 y="333"></positionYmap2>
    <gravity value="-7.8f"></gravity>
    <startpointcameramap2 value="-60"></startpointcameramap2>
    <positionWinMap1 value="10780"></positionWinMap1>
    <JumpTime value="20"></JumpTime>
    <JumpSpeed value="15.0f"></JumpSpeed>
    <SpeedWalk value="8.0f"></SpeedWalk>
    <SpeedSwimLeftRight value="4.0f"></SpeedSwimLeftRight>
    <playerHeight value="78"></playerHeight>
    <SpeedClimb value="4.0f"></SpeedClimb>
    <SpeedSwimUp value="7.0f"></SpeedSwimUp>
    <SpeedSwimDown value="3.0f"></SpeedSwimDown>
    <playerwidth value="65"></playerwidth>
    <playerheight value="87"></playerheight>
    <JumpFx source="Jump.wav"/>
    <DeathFx source="Death.wav"/>
  </player>


  
  
</config>