<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Game</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1000" height="900" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
    <scene>
      <mapname name="Map1.tmx"></mapname>
      <mapname name="Map2.tmx"></mapname>
      <song>audio/music/Level1.ogg</song>
    </scene>  
  
  <audio>
    <volume value="50"></volume>
    <music>
      <folder>audio/music/</folder>
    </music>
    <fx>
      <folder>audio/fx/</folder>
    </fx>
  </audio>
  
  
  <player>
    <sprites>textures/Alien.png</sprites>
    <JumpFx>audio/fx/Jump_fx.wav</JumpFx>
    <WaterFx>audio/fx/waterfx.wav</WaterFx>
    <DeathFx>audio/fx/deathfx.wav</DeathFx>
    <DeathFx2>audio/fx/deathfx2.wav</DeathFx2>
    <LadderFx>audio/fx/Ladder.wav</LadderFx>
    <positionXmap1 x="600"></positionXmap1>
    <positionYmap1 y="532"></positionYmap1>
    <positionXmap2 x="145"></positionXmap2>
    <positionYmap2 y="330"></positionYmap2>
    <finalmapplayer value="10700"></finalmapplayer>
    <finalmap value="-10200"></finalmap>
    <startmap2 value="560"></startmap2>
    <maxYcam value="740"></maxYcam>
    <minYcam value="450"></minYcam>
    <lowcam value="-290"></lowcam>
    <gravity value="-7.8f"></gravity>
    <startpointcameramap2 value="-60"></startpointcameramap2>
    <positionWinMap1 value="10780"></positionWinMap1>
    <JumpTime value="20"></JumpTime>
    <JumpSpeed value="15.0f"></JumpSpeed>
    <SpeedWalk value="8.0f"></SpeedWalk>
    <SpeedSwimLeftRight value="4.0f"></SpeedSwimLeftRight>
    <playerHeight value="78"></playerHeight>
    <SpeedClimb value="4.0f"></SpeedClimb>
    <SpeedSwimUp value="7.0f"></SpeedSwimUp>
    <SpeedSwimDown value="3.0f"></SpeedSwimDown>
    <playerwidth value="65"></playerwidth>
    <playerheight value="87"></playerheight>
  </player>


  
  
</config>