<!-- Config file for the game -->

<config>
  <app>
    <title>Alien Earth</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1000" height="900" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
    <scene>
      <mapname name="Map1.tmx"></mapname>
      <mapname name="Map2.tmx"></mapname>
      <song>audio/music/Level1.ogg</song>
    </scene>  
  
  <audio>
    <volume value="50"></volume>
  </audio>
  <choose>
    <Start>textures/Start.png</Start>
    <NoChoose>textures/choose.png</NoChoose>
    <Choose1>textures/Choose1.png</Choose1>
    <Choose2>textures/Choose2.png</Choose2>
    <Choose3>textures/Choose3.png</Choose3>
    <MinY_ChooseRect value="228"></MinY_ChooseRect>
    <MaxY_ChooseRect value="671"></MaxY_ChooseRect>
    <MinX_RectChoosePlayer1 value="138"></MinX_RectChoosePlayer1>
    <MaxX_RectChoosePlayer1 value="363"></MaxX_RectChoosePlayer1>
    <MinX_RectChoosePlayer2 value="388"></MinX_RectChoosePlayer2>
    <MaxX_RectChoosePlayer2 value="613"></MaxX_RectChoosePlayer2>
    <MinX_RectChoosePlayer3 value="638"></MinX_RectChoosePlayer3>
    <MaxX_RectChoosePlayer3 value="863"></MaxX_RectChoosePlayer3>
    <PlayerNumber1 value="0"></PlayerNumber1>
    <PlayerNumber2 value="1"></PlayerNumber2>
    <PlayerNumber3 value="2"></PlayerNumber3>
  </choose>
  
  <player>
    <sprites>textures/Alien.png</sprites>
    <sprites2>textures/AlienPink.png</sprites2>
    <sprites3>textures/AlienBlue.png</sprites3>
    <JumpFx>audio/fx/Jump_fx.wav</JumpFx>
    <WaterFx>audio/fx/waterfx.wav</WaterFx>
    <DeathFx>audio/fx/deathfx.wav</DeathFx> 
    <DeathFx2>audio/fx/deathfx2.wav</DeathFx2>
    <LadderFx>audio/fx/Ladder.wav</LadderFx>
    <finalmapplayer value="10700"></finalmapplayer>
    <finalmap value="-10200"></finalmap>
    <startmap2 value="560"></startmap2>
    <maxYcam value="740"></maxYcam>
    <minYcam value="450"></minYcam>
    <lowcam value="-290"></lowcam>
    <gravity value="-7.8f"></gravity>
    <startpointcameramap2 value="-60"></startpointcameramap2>
    <positionWinMap1 value="10780"></positionWinMap1>
    <JumpTime value="20"></JumpTime>
    <JumpSpeed value="30.0f"></JumpSpeed>
    <SpeedWalk value="8.0f"></SpeedWalk>
    <SpeedSwimLeftRight value="4.0f"></SpeedSwimLeftRight>
    <playerHeight value="78"></playerHeight>
    <SpeedClimb value="4.0f"></SpeedClimb>
    <SpeedSwimUp value="7.0f"></SpeedSwimUp>
    <SpeedSwimDown value="3.0f"></SpeedSwimDown>
    <playerwidth value="65"></playerwidth>
    <playerheight value="87"></playerheight>
    
    <AnimationsPlayerYellow>
      <GoRight name="GoRight" speed="0.1f" loop="true">
        <frame  x="0" y="0" w="67" h="86"/>
        <frame x="69" y="0" w="70" h="86"/>
      </GoRight>
    </AnimationsPlayerYellow>
    
    <AnimationsPlayerPink>
      <GoRight name="GoRight" speed="0.1f" loop="true">
        <frame  x="0" y="0" w="67" h="93"/>
        <frame x="69" y="0" w="70" h="95"/>
      </GoRight>
   
    </AnimationsPlayerPink>
    
    <AnimationsPlayerBlue>
      <GoRight name="GoRight" speed="0.1f" loop="true">
        <frame  x="0" y="0" w="67" h="93"/>
        <frame x="69" y="0" w="70" h="95"/>
      </GoRight>
    </AnimationsPlayerBlue>
   
  
</player>


  
  
</config>